* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo', cursive;
    background-image: url('background.png'); /* Correct relative path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


header {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    color: #3b030c;
}

.customize-box {
    background: #ffddc1;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
    white-space: nowrap;
}

.flavor-text {
    font-size: 1.2rem;
    margin: 0;
}
